$arrow-border: 1px solid #444;

// 中心点位置
$center-left: 70px;
$center-top: 80px;

// 外键头距离中心位置
$arrow-out-position: 60px;

// 内箭头距离中心位置
$arrow-inner-position: 35px;

// 字标
%label-cross {
  user-select: none;
  position: absolute;
  text-align: center;
  width: 20px;
  line-height: 40px;
}

%label-vertical {
  user-select: none;
  position: absolute;
  text-align: center;
  width: 40px;
  line-height: 20px;
}

// 上箭头
%top-arrow-box {
  position: absolute;
  user-select: none;
  width: 40px;
  height: 21px;
  border-bottom: $arrow-border;
  overflow: hidden;
}

%top-arrow {
  user-select: none;
  margin-top: 5px;
  margin-left: 5px;
  background: #222;
  border: $arrow-border;
  transform: rotate(45deg);
}

// 下箭头
%bottom-arrow-box {
  user-select: none;
  position: absolute;
  width: 40px;
  height: 21px;
  border-top: $arrow-border;
  overflow: hidden;
}

%bottom-arrow {
  user-select: none;
  margin-top: -15px;
  margin-left: 5px;
  background: #222;
  border: $arrow-border;
  transform: rotate(45deg);
}

// 左箭头
%left-arrow-box {
  user-select: none;
  position: absolute;
  width: 21px;
  height: 40px;
  border-right: 1px solid #444;
  overflow: hidden;
}

%left-arrow {
  user-select: none;
  margin-top: 5px;
  margin-left: 5px;
  background: #222;
  border: 1px solid #444;
  transform: rotate(45deg);
}

// 右箭头
%right-arrow-box {
  user-select: none;
  position: absolute;
  width: 21px;
  height: 40px;
  border-left: 1px solid #444;
  overflow: hidden;
}

%right-arrow {
  user-select: none;
  margin-top: 5px;
  margin-left: -15px;
  background: #222;
  border: 1px solid #444;
  transform: rotate(45deg);
}

.tool-box {
  user-select: none;
  height: 200px;
  position: relative;
  .margin-left-box, .margin-top-box, .margin-right-box, .margin-bottom-box, .padding-left-box, .padding-top-box, .padding-right-box, .padding-bottom-box {

  }
  .margin-left, .margin-top, .margin-right, .margin-bottom, .padding-left, .padding-top, .padding-right, .padding-bottom {
    width: 30px;
    height: 30px;
    transition: all .3s ease;
    &:hover {
      background: #444;
    }
  }
  .margin-left, .margin-right, .padding-left, .padding-right {
    cursor: ew-resize;
  }
  .margin-top, .margin-bottom, .padding-top, .padding-bottom {
    cursor: ns-resize;
  }

  .margin-left-box {
    @extend %left-arrow-box;
    left: $center-left - $arrow-out-position;
    top: $center-top;
  }
  .margin-left {
    @extend %left-arrow;
  }
  .margin-left-label {
    @extend %label-cross;
    left: $center-left - $arrow-out-position - 25px;
    top: $center-top;
  }

  .padding-left-box {
    @extend %right-arrow-box;
    left: $center-left - $arrow-inner-position;
    top: $center-top;
  }
  .padding-left {
    @extend %right-arrow;
  }
  .padding-left-label {
    @extend %label-cross;
    left: $center-left - $arrow-inner-position + 25px;
    top: $center-top;
  }

  .margin-top-box {
    @extend %top-arrow-box;
    left: $center-left;
    top: $center-top - $arrow-out-position;
  }
  .margin-top {
    @extend %top-arrow;
  }
  .margin-top-label {
    @extend %label-vertical;
    left: $center-left;
    top: $center-top - $arrow-out-position - 20px;
  }

  .padding-top-box {
    @extend %bottom-arrow-box;
    left: $center-left;
    top: $center-top - $arrow-inner-position;
  }
  .padding-top {
    @extend %bottom-arrow;
  }
  .padding-top-label {
    @extend %label-vertical;
    left: $center-left;
    top: $center-top - $arrow-inner-position + 20px;
  }

  .margin-right-box {
    @extend %right-arrow-box;
    left: $center-left + $arrow-out-position + 20px;
    top: $center-top;
  }
  .margin-right {
    @extend %right-arrow;
  }
  .margin-right-label {
    @extend %label-cross;
    left: $center-left + $arrow-out-position + 45px;
    top: $center-top;
  }

  .padding-right-box {
    @extend %left-arrow-box;
    left: $center-left + $arrow-inner-position + 20px;
    top: $center-top;
  }
  .padding-right {
    @extend %left-arrow;
  }
  .padding-right-label {
    @extend %label-cross;
    left: $center-left + $arrow-inner-position - 5px;
    top: $center-top;
  }

  .margin-bottom-box {
    @extend %bottom-arrow-box;
    left: $center-left;
    top: $center-top + $arrow-out-position + 20px;
  }
  .margin-bottom {
    @extend %bottom-arrow;
  }
  .margin-bottom-label {
    @extend %label-vertical;
    left: $center-left;
    top: $center-top + $arrow-out-position + 45px;
  }

  .padding-bottom-box {
    @extend %top-arrow-box;
    left: $center-left;
    top: $center-top + $arrow-inner-position + 20px;
  }
  .padding-bottom {
    @extend %top-arrow;
  }
  .padding-bottom-label {
    @extend %label-vertical;
    left: $center-left;
    top: $center-top + $arrow-out-position - 25px;
  }
}