@import "../../../minxin";

> .layout {
  background: $bg-color;
  color: $font-color;
  border-left: 1px solid $border-color;
  height: 100%;
  width: 150px;
  transition-duration: .4s;
  &.show-animate {
    margin-left: 0;
  }
  &.hide-animate {
    margin-left: -180px;
  }
}

> .close-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 25px;
  height: 100px;
  padding-left: 5px;
  @extend %btn;
  background-color: $bg-color;
  z-index: 10;
  transition-duration: .4s;
  &.show-animate {
    right: -25px;
  }
  &.hide-animate {
    right: 0;
  }
}