%enter-opts {
  transition-duration: .4s;
  animation-timing-function: ease-out;
}

.g-sd-enter {
  transform: translate3d(0, 0, 0);
  @extend %enter-opts;
}

.g-sd-leave {
  transform: translate3d(-250px, 0, 0);
  @extend %enter-opts;
}

.g-rd-enter {
  transform: translate3d(0, 0, 0);
  @extend %enter-opts;
}

.g-rd-leave {
  transform: translate3d(250px, 0, 0);
  @extend %enter-opts;
}

.g-ft-enter {
  transform: translate3d(0, 0, 0);
  @extend %enter-opts;
}

.g-ft-leave {
  transform: translate3d(0, 30px, 0);
  @extend %enter-opts;
}

.g-mn-leave {
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}