@import "../../../../../../minxin";

.mode-btn {
  @extend %btn;
  padding: 3px;
  border: 1px solid $border-color;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}