@import "../../../minxin";

.container {
  height: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  // 拖拽源
  .drag-source {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: move;
    padding: 13px 15px;
    transition: all .3s ease;
    border-right: 1px solid $border-color;
    i {
      font-size: 30px;
      margin-bottom: 5px;
    }
    &:hover {
      color: $font-active-color;
      background-color: $bg-active-color;
    }
  }
}

.menu-component {
  width: 100px;
}