.layout {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d4d4d4;
  border-top: 1px solid #616161;
  color: #4d4d4d;
  .footer-tree {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.arrow {
  position: relative;
  box-shadow: inset 0 1px 0 #e0e0e0;
  line-height: 30px;
  padding: 0 15px;
  margin-right: 15px;
  cursor: pointer;
  &.active, &:hover {
    background-color: #e3e3e3;
  }
  &.active, &.active:after, &.active:before {
    cursor: default;
  }
  &:after, &:before {
    cursor: pointer;
    border: 15px solid transparent;
    border-left: 15px solid #d4d4d4;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -30px;
    content: ' ';
  }
  &:before {
    border-left-color: #a2a2a2;
    right: -31px;
  }
  &:hover:after, &.active:after {
    border-left-color: #e3e3e3;
  }
  &:hover:before, &.active:before {

  }
}

.right {
  .info {
    padding: 0 10px;
  }
}

.instance-number {
  &.green {
    color: #4cae4c;
  }
  &.warning {
    color: #eea236;
  }
  &.error {
    color: #d43f3a;
  }
}