@import "../../../../minxin";

.nothing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  color: #777;
  .bold {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.component-name {
  font-weight: bold;
  color: $font-color;
}

// 手机壳标题
.out-bg {
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  background-color: #393939;
}

// 输入框宽度
.ant-input {
  width: 180px;
}

// 标题按钮（点击后删除）
.delete-btn {
  @extend %btn;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  background-color: #393939;
  &.active, &:hover {
    background-color: #444;
  }
}