%enter-opts {
  transition-duration: .4s;
  animation-timing-function: ease-out;
}

.g-sd2-enter {
  transform: translate3d(0, 0, 0);
  @extend %enter-opts;
}

.g-sd2-leave {
  transform: translate3d(250px, 0, 0);
  @extend %enter-opts;
}

.g-sd2-preview-enter {
  transform: translate3d(250px, 0, 0);
  @extend %enter-opts;
}

.g-sd2-preview-leave {
  transform: translate3d(0, 0, 0);
  @extend %enter-opts;
}