@import "../../../../minxin";

> .layout {
  display: flex;
  flex-direction: column;
  .select-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    @extend %btn;
    .img {
      width: 120px;
      height: 80px;
      background-size: cover;
      &.left-px-right-auto {
        background-image: url('./image/left-px-right-auto.png');
      }
      &.company-home {
        background-image: url('./image/company-home.png');
      }
    }
    .description {
      padding: 5px 0;
    }
  }
}