$absolute-color: #A900FF;

// 拖拽目标
.drag-target {
  transition: all 0.15s ease;
  &.can-drop {
    outline: 1px solid #2db7f5;
    &.absolute {
      outline-color: $absolute-color;
    }
  }
  &.active {
    outline: 3px solid #2db7f5;
    &.absolute {
      outline-color: $absolute-color;
    }
  }
}

// edit组件选中状态
.selected {
  transition: all 0.15s ease;
  outline: 3px solid #2db7f5;
  &.absolute {
    outline-color: $absolute-color;
  }
}