$relative-color: #2db7f5;
$absolute-color: #A900FF;

// 拖拽目标
.drag-target {
  transition: all 0.15s linear;
  &.can-drop {
    outline: 1px solid $relative-color;
    &.absolute {
      outline-color: $absolute-color;
    }
  }
  &.active {
    outline: 3px solid $relative-color;
    &.absolute {
      outline-color: $absolute-color;
    }
  }
}