// 默认背景色
$bg-color: #4b4b4b;

// 反衬背景颜色光泽的亮色
$shadow-color: rgba(255, 255, 255, .06);

// 在背景颜色下比较鲜艳的字体颜色
$font-color: #d6d6d6;

// active字体颜色
$font-active-color: #FDFDFD;

// 点击之前的颜色
$font-dark-color: #b0b0b0;

// hover时背景颜色
$bg-hover-color: rgba(255, 255, 255, .05);

// active背景色
$bg-active-color: #636363;

// 边框颜色
$border-color: #2f2f2f;

// 折叠框背景色
$bg-panel-color: #393939;

// 折叠框边框颜色
$border-panel-color: #272727;

// 输入框高度
$input-height: 26px;

// 模拟按钮效果
%btn {
  display: block;
  color: $font-color;
  box-shadow: inset 0 1px 1px $shadow-color;
  cursor: pointer;
  border-bottom: 1px solid $border-color;
  &:hover, &.active {
    color: $font-active-color;
    background-color: $bg-active-color;
  }
}