html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  // 滚动条样式
  ::-webkit-scrollbar {
    background: #555;
    color: #444;
  }
  ::-webkit-scrollbar-thumb {
    background: #666;
    border: thin solid #555;
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 7px;
    height: 14px;
  }
}

body {
  font-size: 14px;
  background: #444;
}

// 覆盖antd样式
.ant-form-item, .ant-form-item > label {
  color: #ccc;
}

// dropdown
.ant-select-selection {
  background-color: #444;
  border-color: #222;
  color: #ccc;
}

.ant-select-dropdown {
  background-color: #444;
  border: 1px solid #222;
}

.ant-select-dropdown-menu-item {
  color: #ccc;
}

.ant-select-dropdown-menu-item:hover,
.ant-select-dropdown-menu-item-active {
  background-color: #555 !important;
  color: #eee;
}

.ant-select-dropdown-menu-item-disabled {
  color: #888;
}

// checkbox
.ant-checkbox-inner, .ant-radio-inner {
  border-color: #222;
  background-color: #444;
}

.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #1983B3;
  background-color: #0087C3;
}

.ant-checkbox-disabled .ant-checkbox-inner {
  border-color: #555;
  background-color: #888;
}

// radio
.ant-radio-checked .ant-radio-inner {
  border-color: #444;
}

.ant-radio:hover {
  border-color: #444;
}

// input
.ant-input {
  border-color: #222;
  background-color: #444;
  color: #ccc;
}

.ant-input::-moz-placeholder {
  color: #888;
  opacity: 1;
}

.ant-input:-ms-input-placeholder {
  color: #888;
}

.ant-input::-webkit-input-placeholder {
  color: #888;
}

.ant-input:hover, .ant-select-selection:hover {
  border-color: #005882;
}

.ant-input:focus, .ant-select-selection:focus {
  border-color: #177098;
  outline: 0;
  box-shadow: 0 0 0 2px #136284;
}

.ant-form-horizontal, .ant-form-inline {
  label {
    padding-right: 7px;
  }
}

.ant-form-item {
  margin-bottom: 15px;
}

// 数字输入
.ant-input-number {
  padding: 0 !important;
}

.ant-input-number-input {
  padding: 0 0 0 10px;
  border-radius: 0;
  background-color: #444;
  color: #ccc;
}

.ant-input-number-handler-wrap {
  border-color: #555;
}

.ant-input-number-handler:hover {
  background: #555;
}

.ant-input-number-handler-down {
  border-color: #555;
}

// 上传
.ant-upload-drag-container {
  padding: 20px;
}

.ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
  color: #ccc;
}

.ant-upload.ant-upload-drag {
  border-color: #999;
  &:hover {
    border-color: #d9d9d9;
  }
}

// tree
.ant-tree li a {
  color: #ccc;
}

.ant-tree-checkbox-inner {
  border-color: #949494;
}

.ant-tree li span.ant-tree-switcher.ant-tree-roots_open:after, .ant-tree li span.ant-tree-switcher.ant-tree-center_open:after, .ant-tree li span.ant-tree-switcher.ant-tree-bottom_open:after, .ant-tree li span.ant-tree-switcher.ant-tree-noline_open:after {
  color: #ccc;
}

// 按钮
.ant-btn-default, .ant-btn-danger {
  background: #444;
  color: #ccc;
  border-color: #222;
}

.ant-btn-danger:hover {
  color: #F75757;
  background-color: #353535;
  border-color: #232323;
}

// Collapse 折叠面板
.ant-collapse {
  background-color: #333;
  border: 1px solid #444;
  margin-top: -1px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: #ccc;
}

.ant-collapse-content {
  border-top: 1px solid #444;
  background-color: #272727;
}

.ant-collapse > .ant-collapse-item {
  border-color: #444;
}

// switch 开关
.ant-switch {
  background-color: #333;
}

.ant-switch-checked {
  background-color: #2db7f5;
}