@import "../../../../minxin";

.none-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.clearfix {
  clear: both;
  display: block;
  overflow: hidden;

  &:before, &:after {
    content: ' ';
    display: block;
    overflow: hidden;
    clear: both;
  }
}

.navigator {
  max-height: 100%;
  padding: 12px 9px;
  background: #4b4b4b;
  border-bottom: 1px solid #272727;
  color: #d6d6d6;
  text-shadow: 0 -1px rgba(0,0,0,.3);

  .title {
    float: left;
    font-weight: 600;
    font-size: 11px;
  }

  .nav-buttons {
    float: right;

    span {
      float: left;
      margin-left: 13px;
      color: #999;
      -webkit-transition: color .15s ease;
      transition: color .15s ease;
    }

    span:hover {
      color: #ddd;
      cursor: pointer;
    }
  }
}

.section {

  .section-inner {
    @extend %btn;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    background-color: #393939;

    .dropdown {
      width: 20px;
      margin: 0 5px;
      padding: 0 6px;
      display: inline-block;
      
      i {
        width: 10px;
        font-size: 16px;
        text-align: center;
      }
    }

    &.hover {
      color: #FDFDFD;
      background-color: #636363;
    }
  }

  .selected {
    background: #4279ac !important;
  }
}

.children {
  .node {
    @extend %btn;
    border-bottom: 0;
    line-height: 30px;
    background-color: #393939;
  }
}